<div class="deznav">
  <div class="deznav-scroll" [perfectScrollbar]>
    <ul class="metismenu" id="menu" metis-menu>
      <li><a class="ai-icon" href="/" aria-expanded="false">
          <!-- <i class="flaticon-381-networking"></i> -->
          <span class="nav-text">Dashboard</span>
        </a>
        <a class="ai-icon" href="/my-projects" aria-expanded="false">
          <!-- <i class="flaticon-381-networking"></i> -->
          <span class="nav-text">My Projects</span>
        </a>
      </li>
    </ul>
  </div>
</div>