<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0" *ngIf="authService.isLoggedIn">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Hi, welcome back!</h4>
					<p class="mb-0">Your business dashboard template</p>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Product Detail</a></li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane fade show active" id="first">
										<img class="img-fluid" src={{projectDetail?.imageUrl}} alt="">
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
								<div class="product-detail-content">
									<div class="new-arrival-content pr">
										<h4>{{projectDetail?.title}}</h4>
										<div class="d-table mb-2">
											<p class="price float-left d-block">$ {{projectDetail?.fundingGoal}}</p>
										</div>
										<p>Availability: <span class="item"> {{projectDetail?.campaignEndDate | date: 'dd/MM/yyyy'}}</span>
										</p>
										<p>Created By: <span class="item">{{projectDetail?.createdBy}}</span></p>
										<p>Amount Received: <span class="item">$ {{amountReceived}}</span></p>
										<p class="text-content">{{projectDetail?.description}}</p>
										<div class="row">
											<div class="col-3" *ngFor="let reward of rewards;let i=index">
												<a (click)="selectedReward(rewards[i]);open(payment)">
													<div class="card">
														<div class="card-body">
															<div class="row">
																Description:
																<p> {{reward?.description}}</p>
															</div>
															<div class="row">
																<p> Amount: {{reward?.rewardAmount}}</p>
															</div>
														</div>
													</div>
												</a>

											</div>
										</div>
										<div class="row"
											*ngIf="authService.currentUser.uid == projectDetail?.userId && amountReceived>=projectDetail?.fundingGoal">
											<button class="btn btn-primary btn-sm" (click)="openRequest(requestAmount)"> Request
												Amount</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<share-buttons theme="circles-dark" [include]="['copy', 'facebook', 'linkedin', 'twitter', 'whatsapp']"
							[showIcon]="true" [showText]="true" [url]="url" [description]="projectDetail?.title" class="pt-5">
						</share-buttons>
					</div>
				</div>
			</div>

		</div>

		<div class="row" *ngIf="authService.currentUser.uid==projectDetail?.userId">
			<div class="col-xl-12">
				<div class="table-responsive table-hover fs-14">
					<table class="table display mb-4 dataTablesCard dataTable short-one  card-table text-black" id="example5">
						<thead>
							<tr>
								<th>Transaction ID</th>
								<th>Date</th>
								<th>User</th>
								<th>Amount</th>
								<th>Note</th>
								<th>Reward Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let transaction of transactions; let i= index">
								<td class="pr-0">
									{{transaction?.id}}
								</td>
								<td>{{transaction?.createdAt | date: 'dd/MM/yyyy' }}</td>
								<td><img [src]="transaction?.fromUserImage" class="rounded-circle mr-2 width30 height30"
										alt=""><span>{{transaction?.fromUserName}}</span></td>
								<td>{{transaction?.rewardAmount}}</td>

								<td>
									<p class="mb-0 wspace-no">{{transaction.note || "N/A"}}</p>
								</td>
								<td>
									<span class="text-black font-w600">{{transaction.rewardStatus}}</span>
								</td>
								<td>
									<button class="btn btn-primary btn-sm" [disabled]="transaction.rewardStatus"
										(click)="updateReward(transaction?.id)">Reward</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>
<ng-template #payment let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Payment</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="paymentForm">
			<div class="row">
				<div class="col">
					<label for="title">Name: </label>
					<input id="title" type="text" class="form-control" formControlName="name">
				</div>
			</div>
			<div class="row mb-1">
				<div class="col">
					<label for="description">Card Number: </label>
					<input id="description" type="text" class="form-control" formControlName="cardNumber">
				</div>
			</div>
			<div class="row mb-1">
				<div class="col">
					<label for="launch_date">Expiration : </label>
					<input id="launch_date" type="text" class="form-control" formControlName="expiration">
				</div>
				<div class="col">
					<label for="campaign_end_date">CVV: </label>
					<input id="campaign_end_date" type="integer" class="form-control" formControlName="cvv">
				</div>
			</div>
			<div class="row mb-1">
				<div class="col">
					<label for="launch_date">Amount : </label>
					<input id="launch_date" type="text" class="form-control" formControlName="amount">
				</div>
			</div>
		</form>

	</div>
	<div class="d-flex justify-content-center mb-3 mr-5">
		<button class="btn-primary btn btn-sm" [disabled]="paymentForm.invalid" (click)="checkout()">Checkout</button>
	</div>
</ng-template>

<ng-template #requestAmount let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Request</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="requestAmountForm">
			<div class="row">
				<div class="col">
					<label for="title">Request: </label>
					<input id="title" type="text" class="form-control" formControlName="request">
				</div>
			</div>
			<div class="row mb-1">
				<div class="col">
					<label for="description">Amount: </label>
					<input id="description" type="integer" class="form-control" formControlName="amount">
				</div>
			</div>
		</form>
	</div>
	<div class="d-flex justify-content-center mb-3 mr-5">
		<button class="btn-primary btn btn-sm" [disabled]="requestAmountForm.invalid"
			(click)="submitRequest()">Request</button>
	</div>

</ng-template>