<div class="authincation h-100">
  <div class="container vh-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-lg-6 col-md-8">
        <div class="authincation-content">
          <div class="row no-gutters">
            <div class="col-xl-12">
              <div class="auth-form">
                <h4 class="text-center mb-4">Forgot Password</h4>
                <form role="form" [formGroup]="emailForm">
                  <div class="form-group">
                    <label><strong>Email</strong></label>
                    <input type="email" class="form-control" formControlName="email" placeholder="hello@example.com">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block" (click)="onLoggedin()">SUBMIT</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>