<button class="btn-primary btn" (click)="open(createProject)"> Create Project</button>
<ng-template #createProject let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Project</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createProjectForm">
      <div class="row">
        <div class="col">
          <label for="title">Title: </label>
          <input id="title" type="text" class="form-control" formControlName="title">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <label for="description">Description: </label>
          <textarea id="description" type="text" class="form-control" rows="4" formControlName="description"></textarea>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <label for="funding_goal">Funding Goal: </label>
          <input id="funding_goal" type="number" class="form-control" formControlName="fundingGoal">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <label for="launch_date">Launch Date: </label>
          <input id="launch_date" type="date" class="form-control" formControlName="launchDate">
        </div>
        <div class="col">
          <label for="campaign_end_date">Campaign End date: </label>
          <input id="campaign_end_date" type="date" class="form-control" formControlName="campaignEndDate">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <label for="image_upload">Upload Image: </label>
          <image-upload (imageUrl)="getImageUrl($event)"></image-upload>
          <!-- <input id="launch_date" type="date" class="form-control" placeholder="YYYY-MM-DD"
            formControlName="launchDate"> -->
        </div>
      </div>
      <div formArrayName="rewards" *ngFor="let rewardArray of rewards.controls;last as isLast;let i=index">
        <div class="row mb-1" [formGroupName]="i">
          <div class="col-8">
            <label for="reward_description">Reward Description: </label>
            <textarea id="{{'description' + i}}" type="text" class="form-control"
              formControlName="description"></textarea>
          </div>
          <div class="col">
            <label for="amount">Amount : </label>
            <input id="{{'amount' + i}}" type="integer" class="form-control" formControlName="rewardAmount">
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-sm" (click)="addRewardGroup()"> Add</button>
    </form>

  </div>
  <div class="d-flex flex-row-reverse mb-3 mr-5">
    <button class="btn-primary btn btn-sm" (click)="submit()" [disabled]="createProjectForm.invalid">Submit</button>
  </div>
</ng-template>